# Diplodatos Kaggle Competition

We present this peace of code to create the baseline for the competition, and as an example of how to deal with these kind of problems. The main goals are that you:

1. Learn
1. Try different models and see which one fits the best the given data
1. Get a higher score than the given one in the current baseline example
1. Try to get the highest score in the class :)

In [1]:
# Import the required packages
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# load the given labels
breed = pd.read_csv('../data/breed_labels.csv')
color = pd.read_csv('../data/color_labels.csv')
state = pd.read_csv('../data/state_labels.csv')

Now we take a look at the labels, just to understand what these are

In [3]:
breed["BreedName"].unique()

array(['Affenpinscher', 'Afghan Hound', 'Airedale Terrier', 'Akbash',
       'Akita', 'Alaskan Malamute', 'American Bulldog',
       'American Eskimo Dog', 'American Hairless Terrier',
       'American Staffordshire Terrier', 'American Water Spaniel',
       'Anatolian Shepherd', 'Appenzell Mountain Dog',
       'Australian Cattle Dog/Blue Heeler', 'Australian Kelpie',
       'Australian Shepherd', 'Australian Terrier', 'Basenji',
       'Basset Hound', 'Beagle', 'Bearded Collie', 'Beauceron',
       'Bedlington Terrier', 'Belgian Shepherd Dog Sheepdog',
       'Belgian Shepherd Laekenois', 'Belgian Shepherd Malinois',
       'Belgian Shepherd Tervuren', 'Bernese Mountain Dog',
       'Bichon Frise', 'Black and Tan Coonhound',
       'Black Labrador Retriever', 'Black Mouth Cur',
       'Black Russian Terrier', 'Bloodhound', 'Blue Lacy',
       'Bluetick Coonhound', 'Boerboel', 'Bolognese', 'Border Collie',
       'Border Terrier', 'Borzoi', 'Boston Terrier',
       'Bouvier des Flanders', 'Boxer', 'Boykin Spaniel', 'Briard',
       'Brittany Spaniel', 'Brussels Griffon', 'Bull Terrier',
       'Bullmastiff', 'Cairn Terrier', 'Canaan Dog', 'Cane Corso Mastiff',
       'Carolina Dog', 'Catahoula Leopard Dog', 'Cattle Dog',
       'Caucasian Sheepdog (Caucasian Ovtcharka)',
       'Cavalier King Charles Spaniel', 'Chesapeake Bay Retriever',
       'Chihuahua', 'Chinese Crested Dog', 'Chinese Foo Dog', 'Chinook',
       'Chocolate Labrador Retriever', 'Chow Chow', "Cirneco dell'Etna",
       'Clumber Spaniel', 'Cockapoo', 'Cocker Spaniel', 'Collie',
       'Coonhound', 'Corgi', 'Coton de Tulear', 'Curly-Coated Retriever',
       'Dachshund', 'Dalmatian', 'Dandi Dinmont Terrier',
       'Doberman Pinscher', 'Dogo Argentino', 'Dogue de Bordeaux',
       'Dutch Shepherd', 'English Bulldog', 'English Cocker Spaniel',
       'English Coonhound', 'English Pointer', 'English Setter',
       'English Shepherd', 'English Springer Spaniel',
       'English Toy Spaniel', 'Entlebucher', 'Eskimo Dog', 'Feist',
       'Field Spaniel', 'Fila Brasileiro', 'Finnish Lapphund',
       'Finnish Spitz', 'Flat-coated Retriever', 'Fox Terrier',
       'Foxhound', 'French Bulldog', 'Galgo Spanish Greyhound',
       'German Pinscher', 'German Shepherd Dog',
       'German Shorthaired Pointer', 'German Spitz',
       'German Wirehaired Pointer', 'Giant Schnauzer',
       'Glen of Imaal Terrier', 'Golden Retriever', 'Gordon Setter',
       'Great Dane', 'Great Pyrenees', 'Greater Swiss Mountain Dog',
       'Greyhound', 'Harrier', 'Havanese', 'Hound', 'Hovawart', 'Husky',
       'Ibizan Hound', 'Illyrian Sheepdog', 'Irish Setter',
       'Irish Terrier', 'Irish Water Spaniel', 'Irish Wolfhound',
       'Italian Greyhound', 'Italian Spinone', 'Jack Russell Terrier',
       'Jack Russell Terrier (Parson Russell Terrier)', 'Japanese Chin',
       'Jindo', 'Kai Dog', 'Karelian Bear Dog', 'Keeshond',
       'Kerry Blue Terrier', 'Kishu', 'Klee Kai', 'Komondor', 'Kuvasz',
       'Kyi Leo', 'Labrador Retriever', 'Lakeland Terrier',
       'Lancashire Heeler', 'Leonberger', 'Lhasa Apso', 'Lowchen',
       'Maltese', 'Manchester Terrier', 'Maremma Sheepdog', 'Mastiff',
       'McNab', 'Miniature Pinscher', 'Mountain Cur', 'Mountain Dog',
       'Munsterlander', 'Neapolitan Mastiff', 'New Guinea Singing Dog',
       'Newfoundland Dog', 'Norfolk Terrier', 'Norwegian Buhund',
       'Norwegian Elkhound', 'Norwegian Lundehund', 'Norwich Terrier',
       'Nova Scotia Duck-Tolling Retriever', 'Old English Sheepdog',
       'Otterhound', 'Papillon', 'Patterdale Terrier (Fell Terrier)',
       'Pekingese', 'Peruvian Inca Orchid',
       'Petit Basset Griffon Vendeen', 'Pharaoh Hound',
       'Pit Bull Terrier', 'Plott Hound', 'Podengo Portugueso', 'Pointer',
       'Polish Lowland Sheepdog', 'Pomeranian', 'Poodle',
       'Portuguese Water Dog', 'Presa Canario', 'Pug', 'Puli', 'Pumi',
       'Rat Terrier', 'Redbone Coonhound', 'Retriever',
       'Rhodesian Ridgeback', 'Rottweiler', 'Saint Bernard', 'Saluki',
       'Samoyed', 'Sarplaninac', 'Schipperke', 'Schnauzer',
       'Scottish Deerhound', 'Scottish Terrier Scottie',
       'Sealyham Terrier', 'Setter', 'Shar Pei', 'Sheep Dog', 'Shepherd',
       'Shetland Sheepdog Sheltie', 'Shiba Inu', 'Shih Tzu',
       'Siberian Husky', 'Silky Terrier', 'Skye Terrier', 'Sloughi',
       'Smooth Fox Terrier', 'South Russian Ovtcharka', 'Spaniel',
       'Spitz', 'Staffordshire Bull Terrier', 'Standard Poodle',
       'Sussex Spaniel', 'Swedish Vallhund', 'Terrier', 'Thai Ridgeback',
       'Tibetan Mastiff', 'Tibetan Spaniel', 'Tibetan Terrier',
       'Tosa Inu', 'Toy Fox Terrier', 'Treeing Walker Coonhound',
       'Vizsla', 'Weimaraner', 'Welsh Corgi', 'Welsh Springer Spaniel',
       'Welsh Terrier', 'West Highland White Terrier Westie',
       'Wheaten Terrier', 'Whippet', 'White German Shepherd',
       'Wire Fox Terrier', 'Wire-haired Pointing Griffon',
       'Wirehaired Terrier', 'Xoloitzcuintle/Mexican Hairless',
       'Yellow Labrador Retriever', 'Yorkshire Terrier Yorkie',
       'Mixed Breed', 'Abyssinian', 'American Curl', 'American Shorthair',
       'American Wirehair', 'Applehead Siamese', 'Balinese', 'Bengal',
       'Birman', 'Bobtail', 'Bombay', 'British Shorthair', 'Burmese',
       'Burmilla', 'Calico', 'Canadian Hairless', 'Chartreux', 'Chausie',
       'Chinchilla', 'Cornish Rex', 'Cymric', 'Devon Rex',
       'Dilute Calico', 'Dilute Tortoiseshell', 'Domestic Long Hair',
       'Domestic Medium Hair', 'Domestic Short Hair', 'Egyptian Mau',
       'Exotic Shorthair', 'Extra-Toes Cat (Hemingway Polydactyl)',
       'Havana', 'Himalayan', 'Japanese Bobtail', 'Javanese', 'Korat',
       'LaPerm', 'Maine Coon', 'Manx', 'Munchkin', 'Nebelung',
       'Norwegian Forest Cat', 'Ocicat', 'Oriental Long Hair',
       'Oriental Short Hair', 'Oriental Tabby', 'Persian', 'Pixie-Bob',
       'Ragamuffin', 'Ragdoll', 'Russian Blue', 'Scottish Fold',
       'Selkirk Rex', 'Siamese', 'Siberian', 'Silver', 'Singapura',
       'Snowshoe', 'Somali', 'Sphynx (hairless cat)', 'Tabby', 'Tiger',
       'Tonkinese', 'Torbie', 'Tortoiseshell', 'Turkish Angora',
       'Turkish Van', 'Tuxedo'], dtype=object)

In [4]:
color.head()

   ColorID ColorName
0        1     Black
1        2     Brown
2        3    Golden
3        4    Yellow
4        5     Cream

state[state]

And now we are ready to deal with the *original* dataset...

In [5]:
original_df = pd.read_csv('../data/train.csv')

In [6]:
original_df.columns

Index(['Type', 'Age', 'Breed1', 'Breed2', 'Gender', 'Color1', 'Color2',
       'Color3', 'MaturitySize', 'FurLength', 'Vaccinated', 'Dewormed',
       'Sterilized', 'Health', 'Quantity', 'Fee', 'State', 'Description',
       'AdoptionSpeed', 'PID'],
      dtype='object')

In [7]:
original_df.describe()

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,AdoptionSpeed,PID
count,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000
mean,1.454734,10.520412,265.469854,74.388868,1.779059,2.230675,3.236912,1.856738,1.860518,1.460971,1.729730,1.566528,1.912115,1.036666,1.584011,20.809960,41345.994613,2.518900,7477.025799
std,0.497970,18.374027,60.121490,123.434010,0.684763,1.743985,2.748595,2.974465,0.547535,0.593843,0.670791,0.701482,0.564041,0.198228,1.488348,78.397243,32.409109,1.176018,4310.921553
min,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,41324.000000,0.000000,0.000000
25%,1.000000,2.000000,265.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,2.000000,3768.250000
50%,1.000000,3.000000,266.000000,0.000000,2.000000,2.000000,2.000000,0.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,2.000000,7473.500000
75%,2.000000,12.000000,307.000000,188.000000,2.000000,3.000000,6.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,41401.000000,4.000000,11200.750000
max,2.000000,255.000000,307.000000,307.000000,3.000000,7.000000,7.000000,7.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,20.000000,3000.000000,41415.000000,4.000000,14992.000000

In [8]:
original_df["Gender"].value_counts()

2    5104
1    3908
3    1570
Name: Gender, dtype: int64

In [9]:
original_df["Quantity"].value_counts()

1     8140
2     1022
3      506
4      372
5      238
6      133
7       62
8       37
9       25
10      17
11       8
20       8
16       3
15       3
17       2
13       2
14       2
18       1
12       1
Name: Quantity, dtype: int64

In [10]:
original_df["State"].value_counts()

41326    6138
41401    2708
41327     603
41336     361
41330     311
41332     181
41324      96
41325      69
41335      58
41361      21
41345      15
41367      10
41342      10
41415       1
Name: State, dtype: int64

Create a function to transform the datasets. This is done by means of a function so that the transformations are the same for the training and testing datasets... We replace the encodings just to make it easy to "visualize" the data

In [11]:
def transform_data(train_data_fname, test_data_fname):
    def transform_columns(df):
        df = df.drop(["Description"], axis=1)
        df.Type = df.Type.replace({1: 'Dog', 2: 'Cat'})
        df.Gender = df.Gender.replace({1:'Male', 2:'Female', 3:'Mixed'})
        df.MaturitySize = df.MaturitySize.replace({1:'S', 2:'M', 3:'L', 4:'XL', 0:'N/A'})
        df.FurLength = df.FurLength.replace({1:'S', 2:'M', 3:'L', 0:'N/A'})
        df.Vaccinated = df.Vaccinated.replace({1:'T', 2:'N', 3:'N/A'})
        df.Dewormed = df.Dewormed.replace({1:'T', 2:'F', 3:'N/A'})
        df.Sterilized = df.Sterilized.replace({1:'T', 2:'F', 3:'N/A'})
        df.Health = df.Health.replace({1:'Healthy', 2: 'MinorInjury', 3:'SeriousInjury', 0: 'N/A'})
        df.Color1 = df.Color1.replace(dict(list(zip(color.ColorID, color.ColorName)) + [(0, "N/A")]))
        df.Color2 = df.Color2.replace(dict(list(zip(color.ColorID, color.ColorName)) + [(0, "N/A")]))
        df.Color3 = df.Color3.replace(dict(list(zip(color.ColorID, color.ColorName)) + [(0, "N/A")]))
        df.Breed1 = df.Breed1.replace(dict(list(zip(breed.BreedID, breed.BreedName)) + [(0, "N/A")]))
        df.Breed2 = df.Breed2.replace(dict(list(zip(breed.BreedID, breed.BreedName)) + [(0, "N/A")]))
        return df
    
    df_train = pd.read_csv(train_data_fname)
    df_train = transform_columns(df_train)
    df_test = pd.read_csv(test_data_fname)
    df_test = transform_columns(df_test)
    
    df = pd.concat([df_train, df_test], sort=True)

    # set dummy variables for everything
    # except from Age, Quantity, Fee
    df = pd.get_dummies(df)
    # get train and test back
    n = len(df_train)
    df_train = df.iloc[:n]
    df_test = df.iloc[n:]
    
    y = df_train['AdoptionSpeed']
    X = df_train.drop('AdoptionSpeed', axis=1)
    yy = None
    XX = df_test.drop('AdoptionSpeed', axis=1)

    return X, y, XX, yy

Load the data...

In [12]:
X, y, XX, yy = transform_data("../data/train.csv", "../data/test.csv")

Create the model and evaluate it

In [13]:
# split training dataset into train and "validation" 
# (we won't be using validation set in this example, because of the cross-validation;
# but it couldn be useful for you depending on your approach)
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=50)

from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

results = pd.DataFrame(columns=('clf', 'best_acc'))

from sklearn.tree import DecisionTreeClassifier as DT
tree_param = {'criterion':('gini', 'entropy'), 'min_samples_leaf':(1, 2, 5),
              'min_samples_split':(2, 3, 5, 10, 50, 100)}
tree = DT(random_state=50)
tree_clf = GridSearchCV(tree, tree_param, scoring='accuracy', cv=3, iid=False, n_jobs=-1)
tree_clf.fit(X_train.drop(["PID"], axis=1), y_train)
best_tree_clf = tree_clf.best_estimator_
print('Best Decision Tree accuracy: ', tree_clf.best_score_)
print(best_tree_clf)
results = results.append({'clf': best_tree_clf, 'best_acc': tree_clf.best_score_}, ignore_index=True)

print('The best classifier so far is: ')
print(results.loc[results['best_acc'].idxmax()]['clf'])

Best Decision Tree accuracy:  0.35615599080068944
DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=100,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=50, splitter='best')
The best classifier so far is:
DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=100,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=50, splitter='best')

**And finally**, we predict the unknown label for the testing set

In [14]:
X.shape, XX.shape

((10582, 360), (4411, 360))

In [15]:
yy = results.clf.iloc[0].predict(XX.drop(["PID"], axis=1))
yy = yy.astype(np.int)

The last thing we do is generating a file that should be *submitted* on kaggle

In [16]:
submission = pd.DataFrame(list(zip(XX.PID, yy)), columns=["PID", "AdoptionSpeed"])

In [17]:
submission.to_csv("../data/submission.csv", header=True, index=False)